<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Link para pasta de arquivo css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apex</title>
</head>
<!-- Body inicio do corpo do site -->
<body>
    <!-- header inicio do cabeçalho do site -->
    <header>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/">Lista</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/novo">Cadastrar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/editar">Editar</a>
            </li>
        </ul>
    </header>
    <!-- header fim do cabeçalho do site -->

    <!-- main inicio do corpo do conteudo -->
    <main>
        <h1>
            {{titulo}}
        </h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Idade</th>
                    <th scope="col">Altura</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for pessoa in pessoas %}
                <tr>
                    <td>{{pessoa.Nome}}</td>
                    <td>{{pessoa.Idade}}</td>
                    <td>{{pessoa.Altura}}</td>
                    <td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
    <!-- footer inicio do redapé do site -->
    <footer>
        <p>&copy;Desenvolvido por Marina Pisa</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
</body>
<body>
    
</body>
</html>