
    <main>
        <h1>
            {{titulo}}
        </h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Idade</th>
                    <th scope="col">Altura</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for pessoa in pessoas %}
                <tr>
                    <td>{{pessoa.Nome}}</td>
                    <td>{{pessoa.Idade}}</td>
                    <td>{{pessoa.Altura}}</td>
                    <td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
    